html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://cdna.artstation.com/p/assets/images/images/003/023/956/large/sergio-briseno-kokiri-2prnt.jpg?1468621311);
  background-size: cover;
  font-family: "Press Start 2P", cursive;
}

#start {
  width: 140px;
  height: 40px;
  position: relative;
  margin: 30px;
  font-size: large;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: goldenrod;
  font-family: "Press Start 2P", cursive;
}

#message {
  color: black;
  display: flex;
  flex-direction: row;
}

#themeMenu {
  display: flex;
}

#showMenu,
#hideMenu,
.theme {
  border: none;
  margin: 20px;
  width: 100px;
  height: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Press Start 2P", cursive;
}

#showMenu:active,
#hideMenu:active,
.theme:active {
  background-color: gray;
  color: white;
}

#game-board {
  display: flex;
  flex-direction: column;
}

.game-piece {
  height: 100px;
  width: 115px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
}

#top-row {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

#bottom-row {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.triangle-up {
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.triangle-down {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  margin: 0 -50px;
}

#red:active {
  background-color: red !important;
}

#green:active {
  background-color: green !important;
}

#blue:active {
  background-color: blue !important;
}

#gold:active {
  background-color: gold !important;
}

@media all and (min-width: 520px), (min-width: 1151px) {
  .game-piece {
    height: 200px;
    width: 230px;
  }
  #top-row {
    margin-bottom: 15px;
  }
  .triangle-down {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    margin: 0 -100px;
  }
}
